# General settings
PYTHON_VERSION=3.10
PYTORCH_VERSION=2.3.0
COMFYUI_BUILD_REF=
IMAGE_BASE=ghcr.io/ai-dock/python:3.10-v2-cuda-12.1.1-base-22.04
IMAGE_TAG=latest
WORKSPACE=/workspace
DIRECT_ADDRESS=127.0.0.1

# ComfyUI specific
AUTO_UPDATE=false
CF_TUNNEL_TOKEN=  # Add your Cloudflare tunnel token here
CF_QUICK_TUNNELS=true
CIVITAI_TOKEN=    # Add your CivitAI token here
HF_TOKEN=         # Add your Hugging Face token here
COMFYUI_WEB_USER=comfyuser
COMFYUI_WEB_PASSWORD=comfypass
COMFYUI_PORT_HOST=8188
JUPYTER_PORT_HOST=8888
SERVERLESS=false

# InvokeAI specific
INVOKEAI_VERSION=4.2.4
INVOKEAI_PORT_HOST=9090
INVOKEAI_WEB_USER=invokeuser
INVOKEAI_WEB_PASSWORD=invokepass
