aiohttp
opencv-python-headless
insightface
rembg
numba
scikit-image
ultralytics
scipy
kornia
matplotlib
timm
filetype
python-slugify
huggingface_hub
diffusers
accelerate
xformers
safetensors
einops
torchsde
spandrel
vispy
imageio-ffmpeg
pykalman
onediff
onediffx
nexfort
requests
tqdm
python-dotenv
GitPython
ipython
